<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="asako.clase.rutas">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/nueva_ruta"
        android:label="@string/app_name"
        android:theme="@style/ThemeRutas"
        tools:replace="android:icon">
        <activity
            android:name=".UI.PantallaInicio"
            android:label="@string/app_name"
            android:theme="@style/Theme.ConNavigationDrawer" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".UI.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".UI.Login"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.PantallaNuevaRuta"
            android:parentActivityName=".UI.PantallaInicio">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.PantallaInicio" />
        </activity>
    </application>

</manifest>